<div data-controller="feed">
    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Feed"} %>
        </div>
        <div class="col-md-9 px-4 py-4">
                <h1>Feed</h1>
                <hr>

                <div class="popular-assemblies-controller">
                    <h3>Recent Assemblies</h3>
                    <%= render partial: "assembly_block", locals: {assembly_block: @feed, page: @feed_current_page, page_count: @feed_page_count} %>
                </div>

                <div class="recent-assemblies-controller">
                    <h3>Popular Assemblies</h3>
                    <%= render partial: "assembly_block", locals: {assembly_block: @popular_assemblies, page: @popular_assemblies_current_page, page_count: @popular_assemblies_page_count} %>
                </div>
                
                <div class="experimental-assemblies-controller">
                    <h3>Experimental Assemblies</h3>
                    <%= render partial: "assembly_block", locals: {assembly_block: @experimental_assemblies, page: @experimental_assemblies_current_page, page_count: @experimental_assemblies_page_count} %>
                </div>

            <%= render partial: "layouts/footer" %>
        </div>
    </div>
</div>