<div class="py-2">
    <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm position-relative" >
        <div class="col-md-4 p-4" style="height: 40vh; overflow-y: scroll;">
            <div class="row">
                <div class="col-md-6">
                    <strong class="d-inline-block mb-2 text-primary-emphasis"><%= assembly.author %></strong>
                </div>
                <div class="col-md-6 text-end">
                    <% if !assembly.public %>
                    <a href=<%= "/studio/#{assembly.id}/make_public" %>
                        class="link-opacity-75 link-underline-light">Make Public</a>
                    <svg class="bi pe-none me-2" width="16" height="16" viewBox="0 0 448 512">
                        <path
                            d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z" />
                    </svg>
                    <% else %>
                    <a href=<%= "/studio/#{assembly.id}/make_public" %>
                        class="link-opacity-75 link-underline-light">Make Private</a>
                    <svg class="bi pe-none me-2" width="16" height="16" viewBox="0 0 512 512">
                        <path
                            d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5l0 39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9l0 39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7l0-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1L257 256c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
                        </svg>
                    <% end %>
                </div>
            </div>
            <h3 class="mb-0"><%= assembly.name %></h3>

            <div class="row">

            </div>
            <div class="pt-3">
                <div class="pb-3 row">
                    <div class="mb-1 text-body-secondary">
                        <%= "#{assembly.created_at.strftime("%H:%M, %A, %B %e, %Y") if !assembly.created_at.nil?}" %>
                    </div>

                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="assemblyDescriptionField" class="form-label">Assembly Description</label>
                        <textarea class="form-control" id="assemblyDescriptionField" placeholder="No Description"
                            rows="3"></textarea>
                    </div>
                </div>

                <%= form_with url: get_picklist_path(assembly.id), id: "picklistGeneratorForm", method: :get, data: {turbo: false} do |f| %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Final Volume</label>
                            <%= f.text_field :final_volume, type: "text", id: "itemAssemblyVolume", class: "form-control", placeholder: "25uL" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Scaffold Concetration</label>
                            <%= f.text_field :scaffold_final_concetration, type: "text", id: "itemAssemblyVolume", class: "form-control", placeholder: "10nM" %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Staple Ratio</label>
                            <%= f.text_field :staple_ratio, type: "number", id: "itemAssemblyWells", class: "form-control", placeholder: "5x" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Wells</label>
                            <%= f.text_field :wells, type: "text", id: "itemAssemblyWells", class: "form-control", placeholder: "[A1, A3, A5, ...]" %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Staple Concetration </label>
                            <%= f.text_field :staple_concetration, type: "text", id: "itemAssemblyWells", class: "form-control", placeholder: "25uM" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Scaffold Concetration</label>
                            <%= f.text_field :scaffold_start_concetration, type: "text", id: "itemAssemblyWells", class: "form-control", placeholder: "400nM" %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="form-check">
                                <%= f.label :add_buffer_label, "Add Buffer", class: "form-check-label" %>
                                <%= f.check_box :add_buffer, class: "form-check-input", checked: true %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="form-check">
                                <%= f.label :add_scaffold_label, "Add Sacffold", class: "form-check-label" %>
                                <%= f.check_box :add_scaffold, class: "form-check-input", checked: true %>
                            </div>
                        </div>
                    </div>
                </div>

                <%= f.button class: "btn bg-primary-subtle w-100", type: "submit" do %>
                <svg class="bi pe-none me-2" width="16" height="16" viewBox="0 0 384 512">
                    <path
                        d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 232l0 102.1 31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31L168 232c0-13.3 10.7-24 24-24s24 10.7 24 24z" />
                    </svg>
                Picklist
                <% end %>
                <% end %>

                <div class="row">
                    <%= form_with url: get_json_path(assembly.id), method: :get, data: {turbo: false} do |f| %>
                    <div class="px-0 mx-0">
                        <div class="pt-2">
                            <%= f.button class: "btn bg-secondary-subtle w-100", type: "submit" do %>
                            <svg class="bi pe-none me-2" width="16" height="16" viewBox="0 0 640 512">
                                <path
                                    d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z" />
                                </svg>
                            JSON
                            <% end %> </div>
                        <% end %>
                    </div>
                </div>


                <div class="row">
                    <%= form_with url: delete_assembly_path(assembly.id), method: :post do |f| %>
                    <div class="px-0 mx-0">
                        <div class="pt-2">
                            <%= f.submit "Delete", class: "btn bg-danger-subtle w-100"%>
                        </div>
                    </div>
                    <% end %>
                </div>

            </div>
        </div>
        <div class="col-md-8" style="height: 40vh;">
            <%= hidden_field_tag :assembly_ids, "", type: "text", id: "assembly_ids", style: "display: none;", value: @page_assembly_ids %>
            <%= hidden_field_tag :design_map, "", type: "text", id: "assembly_#{assembly.id}_design_code", style: "display: none;", value: assembly.design_map %>
            <%= hidden_field_tag :assembly_map, "", type: "text", id: "assembly_#{assembly.id}_assembly_code", style: "display: none;", value: assembly.assembly_map.to_json %>

            <div class="row h-100">
                <div class="col-md-6">
                    <div id=<%= "assembly_#{assembly.id}_editor" %> style="height: 100%">
                    </div>
                </div>
                <div class="col-md-6">
                    <div id=<%= "assembly_#{assembly.id}_gui" %> style="height: 100%">
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>