<%= turbo_frame_tag "assembly_method" do %>
<div class="pt-1 px-0 mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <%= form_with(url: forward_assembly_path, method: :get, data: {turbo: false, turbo_frame: "assembly_method"}) do |f| %>
            <% if @assembly_method == "Forward" %>
            <%= f.button "Forward", class: "nav-link text-primary-emphasis active" %>
            <% else %>
            <%= f.button "Forward", class: "nav-link text-primary-emphasis" %>
            <% end %>
            <% end %>
        </li>
        <li class="nav-item">
            <%= form_with(url: reverse_assembly_path, method: :get, data: {turbo: false, turbo_frame: "assembly_method"}) do |f| %>
            <% if @assembly_method == "Reverse" %>
            <%= f.button "Reverse", class: "nav-link text-primary-emphasis active" %>
            <% else %>
            <%= f.button "Reverse", class: "nav-link text-primary-emphasis" %>
            <% end %>
            <% end %>
        </li>
    </ul>
</div>
<div data-controller="code">
    <style>

    </style>
    <div class="row">

        <div class="col-md-6">

            <div id="jsoneditor" class="" style="width: 100%; height: 40vh;">

            </div>
        </div>
        <div class="col-md-6" style="position: relative;">

            <div class="gui-container shadow-sm" id="guiContainer"
                style="width: 100%; height: 40vh; position: relative;">

            </div>
            <%= render partial: "layouts/camera", locals: {assembly_map: nil} %>
            <%= render partial: "layouts/editbar", locals: {top: 0, right: 0} %>
        </div>
    </div>

    <div class="row pt-4">
        <div class="voxelizer-loader col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="hexlandLoader" class="btn btn-outline-dark bg-dark-subtle w-100">Load .JSON
                            File</label>
                        <input type="file" id="hexlandLoader" style="display:none;" accept=".json">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="sequenceLoader" class="btn btn-outline-danger bg-danger-subtle btn-large w-100">Load
                            .CSV File</label>
                        <input type="file" id="sequenceLoader" style="display:none;" accept=".csv">
                    </div>
                </div>
            </div>
        </div>

        <div class="voxelizer-saver col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="stlobjLoader" class="btn btn-outline-info bg-info-subtle btn-large w-100">Load
                            .obj/.stl File</label>
                        <input type="file" id="stlobjLoader" style="display:none;" accept=".stl,.obj">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="resolution-bar">
                        <div class="row">
                            <div class="col-md-6">                                
                                <label for="voxelResolution" class="form-label">Voxel Resolution: <span id="rangeLabel">1</span></label>
                                  <input 
                                    type="range" 
                                    class="form-range btn-dark" 
                                    id="voxelResolution" 
                                    min="1" 
                                    max="50" 
                                    value="1" 
                                    step="0.5"
                                  >
                            </div>
                            <div class="col-md-6">
                                <label for="voxelCount" class="form-label">Voxel Count: <span id="rangeLabel">0</span></label>
                                <h5 id="voxelCount">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>