<%= turbo_frame_tag "assembly_method" do %>
<div data-controller="gui">
    <div class="pt-1 px-0 mb-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <%= form_with(url: code_assembly_path, method: :get, data: {turbo: false, turbo_frame: "assembly_method"}) do |f| %>
                <% if @assembly_method == "Code" %>
                <%= f.button "Code", class: "nav-link text-primary-emphasis active" %>
                <% else %>
                <%= f.button "Code", class: "nav-link text-primary-emphasis" %>
                <% end %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= form_with(url: model_assembly_path, method: :get, data: {turbo: false, turbo_frame: "assembly_method"}) do |f| %>
                <% if @assembly_method == "Voxelizer" %>
                <%= f.button "Voxelizer", class: "nav-link text-primary-emphasis active" %>
                <% else %>
                <%= f.button "Voxelizer", class: "nav-link text-primary-emphasis" %>
                <% end %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= form_with(url: gui_assembly_path, method: :get, data: {turbo: false, turbo_frame: "assembly_method"}) do |f| %>
                <% if @assembly_method == "GUI" %>
                <%= f.button "GUI", class: "nav-link text-primary-emphasis active" %>
                <% else %>
                <%= f.button "GUI", class: "nav-link text-primary-emphasis" %>
                <% end %>
                <% end %>
            </li>
        </ul>
    </div>

    <div class="gui-container" id="guiContainer">

        <canvas id="guiCanvas" style="width: 100%; height: auto;">

        </canvas>


    </div>
</div>

<% end %>