<div data-controller="studio">
    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Studio"} %>
        </div>
        <div class="col-md-9 px-4 py-4" id="assemblyColumn">
            <div class="new-assembly">

                <h1>Assembly Studio</h1>

                <hr>
                <%= form_with model: Assembly.new, url: :create_assembly, id: "newAssemblyForm", method: :post do |f| %>

                <h3>New Assembly</h3>
                <br>
                <strong><label for="assemblyAuthor" class="form-label">For You</label></strong>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">@</span>
                            <%= f.text_field :author, type: "text", id: "assemblyAuthor", class: "form-control", placeholder: "Author" %>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please specify author!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <%= f.text_field :name, type: "text", id: "assemblyName", class: "form-control", placeholder: "2x2x2 Block" %>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please specify title!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Assembly Description</span>
                        <%= f.text_area :description, class: "form-control", id: "assemblyDescription", placeholder: "Description for refernce" %>
                    </div>
                </div>
                <div class="row mb-3">
                    <strong><label for="assemblyVolume" class="form-label">For Picklist</label></strong>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">Volumes</span>
                            <%= f.text_field :volumes, type: "text", id: "assemblyVolume", class: "form-control", placeholder: "[50, 50, 50, ...] or just 50 for all" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">Well Positions</span>
                            <%= f.text_field :wells, type: "text", id: "assemblyWells", class: "form-control", placeholder: "[A1, A3, A5, ...]" %>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <strong><label for="assemblyBlock" class="form-label">For Assembly</label></strong>
                    <%= f.hidden_field :design_map, type: "text", id: "designMap", style: "display: none;" %>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please specify assembly code!
                    </div>
                    <div id="assemblyBlock">
                        <%= render partial: "code"%>
                    </div>
                </div>

                <div class="">
                    <%= f.button "Design Assembly", id: "designAssemblyButton", class: "btn btn-lg btn-dark w-100"%>
                </div>
                <% end %>

            </div>
            <hr>
            <div class="latest-assemblies py-4">
                <h3>All Assemblies</h3>
                <%= render partial: "page_assemblies" %>
            </div>
        </div>

    </div>
</div>