<div data-controller="studio">
    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Studio"} %>
        </div>
        <div class="col-md-9 px-4 py-4" id="assemblyColumn">
            <div class="new-assembly">

                <h1>Assembly Studio</h1>

                <hr>
                <%= form_with model: Assembly.new, url: :create_assembly, id: "newAssemblyForm", method: :post do |f| %>

                <h3>📖 New Assembly</h3>
                <br>
                <%= render partial: "layouts/errors" %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text fs-5">👨‍🏭 @</span>
                            <%= f.text_field :author, type: "text", id: "assemblyAuthor", class: "form-control form-control-lg", placeholder: "Author" %>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please specify author!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text fs-5">🪧 Title</span>
                            <%= f.text_field :name, type: "text", id: "assemblyName", class: "form-control form-control-lg", placeholder: "2x2x2 Block" %>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please specify title!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text fs-5">🧩 Assembly Description</span>
                        <%= f.text_area :description, class: "form-control form-control-lg", id: "assemblyDescription", placeholder: "Description for refernce" %>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-check fs-4">
                            <%= f.label :assembly_public_check, "Public", class: "form-check-label fs-4" %>
                            <%= f.check_box :assembly_public_check, class: "form-check-input fs-4", checked: true %>
                        </div>
                    </div>

                </div>


                <div class="mb-3">
                    <%= f.hidden_field :design_map, type: "text", id: "designMap", style: "display: none;" %>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please specify assembly code!
                    </div>
                    <div id="assemblyBlock">
                        <%= render partial: "forward" %>
                    </div>
                </div>

                <div class="">
                    <%= f.button "Design Assembly", id: "designAssemblyButton", class: "btn btn-lg btn-outline-secondary bg-secondary-subtle w-100"%>
                </div>
                <% end %>

            </div>
            <hr>
            <div class="latest-assemblies py-4">
                <h3>All Assemblies</h3>
                <%= render partial: "page_assemblies" %>
            </div>
            <%= render partial: "layouts/footer" %>
        </div>

    </div>
</div>