<div data-controller="simulator">

    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Inspector"} %>
        </div>
        <div class="col-md-9">
            <div class="conatiner p-4">
            <h2>Inspector</h2>
            <div class="row mx-1">
                <%= hidden_field_tag :bond_map, "", type: "text", id: "bond_map", style: "display: none;", value: @bond_map %>
                <%= hidden_field_tag :assembly_map, "", type: "text", id: "assembly_code", style: "display: none;", value: @assembly_map %>
                <div class="simulator-container shadow-sm p-0 m-0" id="guiContainer" style="width: 100%; min-height: 100vh;">
                    
                </div>
            </div>
            <div class="row mx-1">
                <%= hidden_field_tag :assembly_design_code, "", type: "text", id: "assembly_design_code", style: "display: none;", value: @assembly.design_map  %>
                <div id="assembly_editor">
                </div>
            </div>
            </div>
            <%= render partial: "layouts/footer" %>
        </div>
        
    </div>
</div>