<div class="container">
  <footer class="pt-4 mt-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      
      <li class="nav-item"><%= link_to "Home", home_path, class: "nav-link px-2 text-body-secondary" %></li>
      <li class="nav-item"><%= link_to "Studio", studio_path, class: "nav-link px-2 text-body-secondary" %></li>
      <li class="nav-item"><%= link_to "Feed", feed_path, class: "nav-link px-2 text-body-secondary" %></li>
      <li class="nav-item"><%= link_to "Simulator", simulator_path, class: "nav-link px-2 text-body-secondary" %></li>
      <li class="nav-item"><%= link_to "Docs", docs_path, class: "nav-link px-2 text-body-secondary" %></li>
    </ul>

    <p class="text-center text-body-secondary">&copy; 2024 Hexoland, Inc</p>
  </footer>
</div>